@page
@model WebApp.Pages.MainPageModel
@using Microsoft.AspNetCore.Mvc.RazorPages

<h1>Welcome to My Web App!</h1>

<div>
    <a asp-page="/Login" class="btn btn-primary">Log In</a>
    <button type="button" class="btn btn-success">Play</button>
</div>
